.gs-result .gs-title {color: #215040 !important;text-decoration: none !important;font-weight: bold;font-family: arial !important;}
.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {color: #aaa !important;text-decoration: none !important;}
.gsc-above-wrapper-area {display: none !important;}